html {
	color: black;
	background-color: white;
	font-family: Arial;
	overflow: hidden;
}
body {
	padding: 0;
	margin: 0;
}
canvas, #overlay {
	display: block;
	position: fixed;
	top:  0;
	left: 0;
	width:  100%;
	height: 100%;
}
circle {
	fill: #a00;
	stroke: black;
	stroke-width: 1px;
	r: 8px;
}
circle:hover {
	fill: red;
	cursor: hand;
	stroke-width: 2px;
}
line {
	stroke: black;
	stroke-width: 4px;
	stroke-dasharray: 2, 20;
}
path {
	stroke: green;
	stroke-width: 4px;
	stroke-dasharray: 2, 20;
	fill: none;
}

